<%- include('header') -%>
  <div class="box" id="heading">
    <h1>
      <%=listTitle%> List
    </h1>
  </div>

  <div class="box">

    <% newListItems.forEach((element)=> { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=element._id%>" onchange="this.form.submit()">
          <p>
            <%=element.name%>
          </p>
        </div>
        <input type="hidden" name="listName" value="<%=listTitle%>">
      </form>
      <%})%>
        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="Enter your task" autocomplete="off">
          <button type="submit" name="list" value=<%=listTitle%>>+</button>
        </form>
  </div>

  <div class="box link">
    <a href="/about">About Page</a>
  </div>
  <%- include('footer') -%>